<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>

  <div class="panel panel-default">
    <div class="panel-body" id="messages">
      <% if @chatroom.messages.any? %>
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
      <% end %>
    </div>
  </div>
  
  <form>
    <label>Your message</label><br>
    <input type="text" data-behavior="room_speaker" chatroom-id="<%= @chatroom.id %>">
  </form>
</div>